In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import shapiro, t, levene

In [11]:
age = pd.read_csv('../../EDA/data/train.csv', usecols=['Age'])
age = age.dropna()
age

      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
885  39.0
886  27.0
887  19.0
889  26.0
890  32.0

[714 rows x 1 columns]

In [12]:
sample_age = age.sample(25).values.flatten()
sample_age

array([58.  , 30.  , 24.  , 51.  , 52.  ,  0.42,  2.  , 36.  , 18.  ,
       28.  , 36.  , 40.  , 29.  , 38.  , 48.  , 38.  , 55.  , 52.  ,
        7.  , 29.  , 40.  , 36.  , 25.  , 28.  , 23.  ])

In [ ]:
# H0: μ = 30 (The mean age of the population is 30 years)
# H1: μ > 30 (The mean age of the population is greater than 30 years)
# Step 1: Calculate the sample mean, standard deviation, and size
# Level of significance (α) = 0.05

sample_mean = np.mean(sample_age)
sample_size = len(sample_age)
sample_std = np.std(sample_age, ddof=1)  # Sample standard deviation

In [ ]:
shapiro_test = shapiro(sample_age)
print(f"Shapiro-Wilk test for normality: {shapiro_test}")

# shaipro_test >  0.05 means the data is normally distributed, we can proceed with the t-test

Shapiro-Wilk test for normality: ShapiroResult(statistic=np.float64(0.9533726163303052), pvalue=np.float64(0.2982472817552456))

In [17]:
t_statistic, p_value = stats.ttest_1samp(sample_age, popmean=30, alternative='greater')
print(f"One-sample t-test statistic: {t_statistic}, p-value: {p_value}")

One-sample t-test statistic: 0.9434071573978374, p-value: 0.17743677670875674

In [18]:
if p_value < 0.05:
    print("Reject the null hypothesis (H0). The mean age of the population is greater than 30 years.")
else:
    print("Fail to reject the null hypothesis (H0). There is no evidence to suggest that the mean age of the population is greater than 30 years.")

Fail to reject the null hypothesis (H0). There is no evidence to suggest that the mean age of the population is greater than 30 years.